/* 

@media only screen and (max-width: 567px) {
	.sign-up-form {
		background-image: url("https://images.pexels.com/photos/3552520/pexels-photo-3552520.jpeg?cs=srgb&dl=pexels-breston-kenya-3552520.jpg&fm=jpg");
		opacity: 0.8;
		width: 50%;
		font-size: 12px;
	}
	.signup-in-form-field,
	.sign-up-button {
		height: 30px;
		font-size: 12;
	}
}

@media only screen and (min-width: 568px) {
	.sign-up-form {
		background-image: url("https://images.pexels.com/photos/3552520/pexels-photo-3552520.jpeg?cs=srgb&dl=pexels-breston-kenya-3552520.jpg&fm=jpg");
		opacity: 0.8;
		width: 50%;
		font-size: 14px;
	}

	.signup-in-form-field {
		height: 30px;
	}
}

@media only screen and (mix-width: 768px) {
	.sign-up-form {
		background-image: url("https://images.pexels.com/photos/3552520/pexels-photo-3552520.jpeg?cs=srgb&dl=pexels-breston-kenya-3552520.jpg&fm=jpg");
		opacity: 0.8;
		font-size: 14px;
	}
	.signup-in-form-field {
		height: 40px;
	}
}

@media only screen and (min-width: 1024px) {
	.sign-up-form {
		background-image: url("https://images.pexels.com/photos/809433/pexels-photo-809433.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
		opacity: 0.8;
		font-size: 14px;
	}
	.signup-in-form-field {
		height: 40px;
	}
}
@media only screen and (min-width: 1366px) {
	.sign-up-form {
		background-image: url("https://images.pexels.com/photos/809433/pexels-photo-809433.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
		opacity: 0.8;
		font-size: 14px;
	}
	.signup-in-form-field {
		height: 40px;
	}
} */

.btn__signup {
	display: block;
		width: 100%;
		background-color: #fb8c00;
		color: white;
		padding: 10px;
		border-radius: 25px;
		border: 0;
		font-size: 15px;
		box-shadow: 0 10px 20px -5px rgba(#fb8c00, 0.9);
		outline: none;
		text-align: center;
		cursor: pointer;
		margin-bottom: 20px;
		margin-top: 35px;
	
}
.signup__page {
		padding: 50px 60px;
		background-color: white;
		border-radius: 30px;
		width: 100%;
		max-width: 480px;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		place-items: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		overflow: hidden;
		border: none;
		background-repeat: no-repeat;
		background-size: cover;
	
}

.signup__already {
	text-align: center;
		color: #363A40;
		font-size: 13px;
}
.singup__heading {
	color: #363A40;
	font-weight: 600;
	font-size: 2rem;
	margin-bottom: 30px;
}
.login__link {
	color: #4C6EF4;
	text-decoration: none;
	margin-left: 10px;
}
