.navbar--modal {
	display: flex;
	flex-direction: row;
}
.navbar--modal:first-child:hover {
	color: #fb8c00;
}
.textModal {
	color: #424242;
	text-decoration: none !important;
}
.textModal:hover {
	color: white;
	text-decoration: none;
}

.shopNow_button {
	position: absolute;
	top: 50%;
	left: 50%;
}
