.pagination__box {
	display: flex;
	flex-direction: column;
	font-size: 18px

}
.pagination__list {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-content: center;
	margin-top: -10px;
}

.pagination__item {
	padding: 5px;
	font-size: 13px;
	color: #363A40;
	font-weight: 300;
}

@media only screen and (max-width: 500px) {
	.pageItem {
		padding: 2%;
	}
}
