.button__addToCart > button {
	font-weight: 900;
	font-size: x-large;
	padding: 10px 60px;
	border-radius: 30px;
	margin-top: 50px;
	border: 1px solid #fb8c00;
	background-color: white;
	transition: .5s;
	color: #757575;
}

.button__addToCart > button:hover {
	cursor: pointer;
	background-color: #fb8c00;
	color: white;
	border: none;
}
.fluid {
	max-width: 1200px;
	margin: 2% auto;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	align-self: center;
	justify-content: center;

	border-radius: 15px;
}

.fluid__detail {
	flex: 0 0 auto;
	margin: 20px 20px;
	height: auto;
	width: 150px;
	padding: 20px 20px;
	
}
.fluid__detail--productName {
	color: #363A40;
	font-size: 1.5rem;
	font-weight: 200;
}
.fluid__detail--productPrice  span{
	color: #363A40;
	font-size: 2rem;
	font-weight: 500;
}
.fluid__detail--productPrice {
	font-size: 1.5rem;
	color: #363A40;
}

.fluid__detail--productColor, .fluid__detail--productCode,.fluid__detail--productDescription{
	 margin-left: 5px;
}

.fluid__image {
	background-color: white;
	border-bottom-right-radius: 100%;
}

.fluid__image-moreImages-item img {
	height: auto;
	width: 80px;
	border-radius: 15px;
	transition: 1s;
	margin: 5px 25px;
}

.fluid__image-moreImages-item {
	height: fit-content;
	display: flex;
	flex-direction: row;
	border-radius: 15px;
	overflow: hidden;
	position: absolute;
	background-color: #eeeeee;
	margin: 20px 0 50px 0;
}
.fluid__image-moreImages-item:hover img {
	transform: scale(1.5);
}
.fluid__image-moreImages-item:hover  {
	cursor: pointer;
}

.quantity__bar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #e0e0e0;
	text-align: center;
	padding-top: 5px;
	border-radius: 25px;

}

@media (min-width: 480px) {
	.fluid {
		flex-direction: row;
	}

	.fluid__image-container {
		flex: 0 0 35%;
		margin: 20px 0 20px 20px;
	}

	.fluid__detail {
		flex: 0 0 35%;
		padding-top: 30px;
	}
}
