.checkout {
	text-decoration: none;
	color: #757575;
}
.checkout:hover {
	color: #fb8c00;
}
.quantity__bar {
	width: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: white;
	text-align: center;
	padding-top: 5px;
	border-radius: 25px;
	margin-left: 25%;
	color: #757575;
	font-size: 13;
	font-family: 'Poppins', sans-serif;
}
