.center {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 2%;
}
.collections {
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.display__collections {
	display: flex;
	flex-direction: row;
}

.home__box {
	align-items: center;
	padding: 0 10%;
	clip-path: circle(50% at 50% 50%);
	background-color: #F2F3F5;
	position: relative;
}
.home__box-img{
	 width: 55%;
}
.home__box-carousel {
	z-index: 1;
	width: 450px;
	margin-left: 60%;
	margin-top: 25%;
	position: absolute;

}

.home__box-colectionText {
	background-color: #bdbdbd;
	width: 200px;
	padding: 10px 0px 10px 0px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	z-index: 1;
	margin-left: 60%;
	margin-bottom: 45%;
	position: absolute;
	color: white;
	font-size: 16px;
	text-align: center;
	
}
.home__box-colections {
	display: flex;
	flex-direction: row;
	z-index: 2;
	align-content: center;
	width: 80%;
	align-self: center;
	
}
.home__box--footer {
	margin-top: 50px;
}
.btn__shopnow {
	width: 120px !important;
	height: 40px !important;
	left: 50% !important;
	top: 50% !important;
	cursor: pointer !important;
	align-self: center !important;
	z-index: 100 !important;
	align-self: center !important;
	text-align: center !important;
	color: #757575 !important;
	background-color: white !important;
	border-radius: 25px !important;
	border: 1px solid #fb8c00 !important;
	text-transform: lowercase !important;
	font-family: 'Poppins', sans-serif !important;
	position: absolute !important;
}
.btn__shopnow:hover {
	background-color: #fb8c00 !important;
	color: white !important;
	border: none !important;
}

@media only screen and (max-width: 500px) {
	h2 {
		font-size: 1.2rem;
	}
}
