.brandName__text {
	font-size: 3rem;
	color: #fb8c00;
	cursor: pointer;
	font-weight: 700;
}
#navbar {
	background-color:#f5f5f5;
	color: #363A40;
	display: flex;
	flex-direction: row;
	height: 180px;
	width: 100%;
}

.navbar-2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#navbar__allproducts {
	color: #363A40;
	text-decoration: none;
	cursor: pointer;
}

.navbar__icons,
.navbar__categories {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	cursor: pointer;
}
.navbar__icons {
	align-content: center;
}
.brandName,
.navbar__btn--logout,
.navbar__btn--login,
.navbar__btn--signup {
	text-align: center;
	flex-direction: row;
	color: #363A40;
	
}
.navbar__btn--login:hover,
.navbar__btn--signup:hover,
.navbar__btn--logout:hover {
	color: #fb8c00;
}
.navbar__btn--loginAndSignup {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#navbar__allproducts:hover,
.navbar__inforAuthor > a:hover {
	color: #fb8c00;
}
.navbar__logo {
	align-self: center;
}
.navbar__logo--image {
	width: 100px;
	height: 100px;
}

.navbar__icons--bag,
.navbar__icons--account,
.navbar__icons--favorite {
	color: #363A40;
	
}
.MuiPaper-root {
	height: 105px;
	margin-left: 15px;
	align-content: center;
}
