/* 

@media only screen and (min-width: 568px) {
	.login-form {
		background-image: url("https://images.pexels.com/photos/3552520/pexels-photo-3552520.jpeg?cs=srgb&dl=pexels-breston-kenya-3552520.jpg&fm=jpg");
		opacity: 0.8;
		width: 50%;
		font-size: 14px;
	}
	.in-form-field {
		height: 30px;
	}
}

@media only screen and (mix-width: 768px) {
	.login-form {
		background-image: url("https://images.pexels.com/photos/3552520/pexels-photo-3552520.jpeg?cs=srgb&dl=pexels-breston-kenya-3552520.jpg&fm=jpg");
		opacity: 0.8;
		font-size: 14px;
	}
	.in-form-field {
		height: 40px;
	}
}

@media only screen and (min-width: 1024px) {
	.login-form {
		background-image: url("https://images.pexels.com/photos/809433/pexels-photo-809433.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
		opacity: 0.8;
		font-size: 14px;
	}
	.in-form-field {
		height: 40px;
	}
}
@media only screen and (min-width: 1366px) {
	.login-form {
		background-image: url("https://images.pexels.com/photos/809433/pexels-photo-809433.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
		opacity: 0.8;
		font-size: 14px;
	}
	.in-form-field {
		height: 40px;
	}
} */
.btn__login {
	display: block;
	width: 100%;
	background-color: #fb8c00;
	color: white;
	padding: 10px;
	border-radius: 25px;
	border: 0;
	font-size: 15px;
	box-shadow: 0 10px 20px -5px rgba(#fb8c00, 0.9);
	outline: none;
	text-align: center;
	cursor: pointer;
	margin-bottom: 20px;
	margin-top: 35px;

}
.form__input {
	display: block;
	width: 250px;
	padding: 10px 20px;
	border-radius: 25px;
	border: 0;
	outline: none;
	background-color: #F2F3F5;
	color: #363A40;
	font-size: 15px;
	box-shadow: 0 10px 20px -5px rgba(#F2F3F5, 0.9);
	margin-bottom: 20px;

}
.form__group {
	margin-bottom: 25px;
}
.form__label {
	display: inline-block;
	cursor: pointer;
	color: #363A40;
	margin-bottom: 15px;
	font-size: 13px;
}
.login {
	padding: 80px 60px;
	background-color: white;
	border-radius: 30px;
	width: 100%;
	max-width: 480px;
	border: 1px solid red;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	place-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border: none;
	background-repeat: no-repeat;
	background-size: cover;
}
.login__brand {
	color: #fb8c00;
	display: block;
	text-align: center;
	position: relative;
	font-weight: 500;
	font-size: 20px;
}
.login__brand::before{
	content: "";
	height: 1px;
	width: 100%;
	position: absolute;
	top: 60%;
	left: -120%;
	background-color:#c6c6c6;
	transform: translateY(-50%);
}
.login__brand::after{
	content: "";
	height: 1px;
	width: 100%;
	position: absolute;
	top: 60%;
	right: -120%;
	background-color:#c6c6c6;
	transform: translateY(-50%);
}
.login__heading {
	color: #363A40;
	font-weight: 600;
	font-size: 2rem;
	margin-bottom: 20px;
}
.signup {
	text-align: center;
		color: #363A40;
		font-size: 13px;
}
.signup__link {
	color: #4C6EF4;
	text-decoration: none;
	margin-left: 10px;
}
