html,
body {
	cursor: pointer;
	margin: 0;
	color: #757575;
	width: 100vw;
}

.cursor {
	position: fixed;
	width: 50px;
	height: 50px;
	border: 1px solid #c6c6c6;
	border-radius: 50%;
	pointer-events: none;
	left: 0;
	top: 0;
	transform: translate(-50%, -50%);
	transform: 0.1s;
}

.cursor2 {
	position: fixed;
	width: 10px;
	height: 10px;
	background-color: #c6c6c6;
	border-radius: 50%;
	pointer-events: none;
	left: 0;
	top: 0;
	transform: translate(-50%, -50%);
	transform: 0.2s;
}
